{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : Liste
{% endblock %}

{% block body %}

<h1> Les pokémons </h1>

    <ul>
        {% for pokemon in pokemons %}
            <li>
                <strong>{{ pokemon.title }}</strong>: {{ pokemon.content }}
                <a href="{{ path('show_pokemon', {'idPokemon': pokemon.id}) }}">Voir le pokemon</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

