{% extends 'base.html.twig' %}

{% block metatitle %}
    Liste des produits :
{% endblock %}


{% block body %}

   <ul>
    {% for product in products %}
        <li>
            <div>
                <h2>{{ product.title }}</h2>
                <a href="{{ path('show_product', {'idProduct': product.id}) }}">Voir les détails du produit</a>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}